<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- CSS - font, bootstrap, syntax, custom -->
        <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
	    <a class="extra" href="/blog">blog</a>
	    <a class="extra" href="/pubs">publications</a>
	    <h2 class="lead">{{ site.tagline }}</h2>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
	      	<h3>the beat of bits </h3>
                <a href="mailto:tasosk@gmail.com"><i class="fa fa-envelope"></i></a>&nbsp;
                <a href="https://github.com/tkeliris"><i class="fa fa-github"></i></a>&nbsp;
                <a href="https://www.linkedin.com/in/keliris"><i class="fa fa-linkedin"></i></a>&nbsp;
		<a href="https://stackoverflow.com/users/3045022/koukouviou"><i class="fa fa-stack-overflow"></i></a>&nbsp;
		<a href="https://twitter.com/koukouviou"><i class="fa fa-twitter"></i></a>&nbsp;
		<a href="https://plus.google.com/+tasoskeliris"><i class="fa fa-google-plus"></i></a>
		<a href="https://facebook.com/tasos.keliris"><i class="fa fa-facebook"></i></a>
		<a href="/atom.xml"><i class="fa fa-rss"></i></a><br>
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
              </p>
            </div>
          </div>
        </div>

    <!-- Javascript -->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/retina-1.1.0.js"></script>
    <!--Google Analytics script goes here-->



  </body>
</html>
